
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* overflow-x: hidden; */
   
}
.navigation{
    background-color: #2F4666;
    height: 60px;
}
.nav1 a{
    text-decoration: none;
    color: aliceblue;
    font-family: poppins;
}
.nav1{
    display: flex;
    justify-content: center;
    gap: 50px;
    line-height: 60px;    
}
.nav2 a{
    text-decoration: none;
    color: aliceblue;
    font-family: poppins;
}
.nav2{
    display: flex;
    justify-content: center;
    gap: 60px;
    /* line-height: 60px;     */
    margin-top: 18px;
}
.bodytext{
    background-color: #2F4666;
    color: aliceblue;
    margin: 20px;
    padding: 20px;
    padding-left: 20px;
    margin-top: 150px;
}
.bodytext h1{
    font-family: poppins;
    font-weight: bold;
    
}
.bodytext p{
    font-family: poppins;
}
.getbutton{
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: poppins;
}
.topbar{
    display: flex;
    height:60px;
    justify-content: space-around;
    font-family: poppins;
    margin-top:15px ;
    
}
.logo{
    height:150px;
    /* width:150px; */
    margin-top: -45px;
    
}


.mail{
    opacity: 0.5;
    letter-spacing: 2px;
}

.customers{
  font-weight: bold;
  font-size: 30px;

}
.subhead{
    text-transform: uppercase;
    font-family: poppins;
    font-weight: bold;
}
.para{
    font-family: poppins;
    font-size: 14px;
}
.midhead{
    background-color: #2F4666;
}
.reqbutton{
    border: none;
    margin: 10px;
    padding: 10px;
    font-family: poppins;
}
.subhead2{
    font-family: poppins;
}

.image{
    position: relative;
   
}
.imagebody{
    position: absolute;
    top: 60%;
    left: 5%;
    z-index: 1;
    color: aliceblue;

}
.emoji2{
    position: absolute;
    top: 80%;
    left: 5%;
    z-index: 1;
    color: aliceblue;
}
.box{
    position: absolute;
    top: 10%;
    z-index: 1;
    color: aliceblue;
    background-color: #2F4666;
    height: 630px;
    width: 730px;
}
.map{
    opacity: 0.2;
    width:600px;
    margin-top:-80px;
    margin-left: 50px;
}
.mapnew{
    position: relative;
}
.maptext{
   position: absolute;
   z-index: 1;
   top: 10%; 
}
.requestbutton{
border-radius: none;
border: none;
background-color: black;
color: aliceblue;
height: 60px;
font-family: poppins;
width: 100%;
margin-top: 20px;
}
.labelname{
    font-family: poppins;
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px;
}
.inputfields{
    padding: 20px 220px 20px 5px;
    margin-top: 20px;
    margin-bottom:40px;
   
}
.personaldata{
    margin: 0px 0px 0px 0px;
}
.headtag{
    font-family: poppins;
}

.footerbuttons{
border: none;
padding:10px 120px ;
margin:20px auto;
background-color: black;
color: aliceblue;
font-family: poppins;
}
.footerbuttons1{
    border: none;
    padding:10px 157px ;
    margin:20px auto;
    background-color:#2F4666;
    color: aliceblue;
    font-family: poppins;
}
.subtext{
    opacity: 0.5;
    font-family: poppins;
}
.maintext{
    font-family: poppins;
}
.hashtag{
    /* margin-bottom: 0px; */
}
.maptext1{
    font-family: poppins;
}
.maptext2{
    font-family: poppins;
}
.maptext3{
    font-family: poppins;
}

